Repository newton-physics/newton, changes with the owners that CODEOWNERS names for each.
All owners: @AnkaChan, @adenzler-nvidia, @gdaviet, @WenchaoHuang, @eric-heiden, @mmacklin, @nvtw, @camevor, @nvlukasz, @dylanturpin, @shi-eric, @Kenny-Vilella

Add `SolverFeatherstone`, `ModelFeatherstone`, `ModelBuilderFeatherstone`
  newton/_src/solvers/featherstone/solver_featherstone.py
Owners: @eric-heiden

Use default_body_armature for nonstatic link inertia in urdf parser (#870)
  newton/_src/utils/import_urdf.py
  newton/examples/mpm/example_mpm_anymal.py
  newton/examples/robot/example_robot_anymal_c_walk.py
  newton/tests/test_anymal_walk.py
Owners: @eric-heiden, @gdaviet

Reducing the number of benchmarks
  asv/benchmarks/setup/bench_model.py
  asv/benchmarks/simulation/bench_mujoco.py
Owners: @shi-eric, @Kenny-Vilella

Increase njmax for the allegro benchmark
  newton/examples/example_mujoco.py
Owners: none

Enlarge test aabb
  newton/examples/cloth/example_cloth_h1.py
Owners: none

Support cpu simulation
  newton/examples/cloth/example_cloth_h1.py
Owners: none

Add allegro hand benchmark (#914)
  asv/benchmarks/simulation/bench_mujoco.py
  newton/examples/example_mujoco.py
Owners: @shi-eric, @Kenny-Vilella

Update newton/examples/robot/example_robot_anymal_c_walk.py
  newton/examples/robot/example_robot_anymal_c_walk.py
Owners: none

Fix follow cam
  newton/examples/robot/example_robot_anymal_c_walk.py
Owners: none

Increase test tolerance for MPM anymal example
  newton/examples/mpm/example_mpm_anymal.py
Owners: @gdaviet

Tentative fix for flaky mpm_anymal test
  newton/examples/mpm/example_mpm_anymal.py
Owners: @gdaviet

URDF parses bodies in the order of the joint hierarchy by default (#889)
  newton/_src/sim/builder.py
  newton/_src/solvers/mujoco/solver_mujoco.py
  newton/_src/utils/import_urdf.py
  newton/_src/utils/topology.py
  newton/examples/basic/example_basic_urdf.py
  newton/examples/mpm/example_mpm_anymal.py
  newton/examples/robot/example_robot_anymal_c_walk.py
  newton/tests/test_import_urdf.py
Owners: @eric-heiden, @adenzler-nvidia, @gdaviet

Add a cloth example​ (#841)
  README.md
  docs/images/examples/example_cloth_h1.jpg
  newton/examples/cloth/example_cloth_h1.py
  newton/tests/test_examples.py
Owners: none

Revert built-in call optimization workaround
  newton/_src/sim/builder.py
Owners: @eric-heiden

Remove leftover after refactoring
  newton/_src/viewer/viewer_gl.py
Owners: @mmacklin

Revert "Fix type hints for RendererGL.gl"
  newton/_src/viewer/gl/opengl.py
Owners: @mmacklin

Fix MJCF models with textures
  newton/_src/utils/import_mjcf.py
Owners: @eric-heiden

Fix license header
  newton/tests/test_collision_primitives.py
Owners: none

Fix static-only up-axis position conversion in MuJoCo solver kernel
  newton/_src/solvers/mujoco/solver_mujoco.py
Owners: @adenzler-nvidia

Use mesh.py for create_sphere_mesh
  newton/tests/test_inertia.py
Owners: none

Expose last rendered frame in `ViewerGL` (#884)
  newton/_src/viewer/viewer_gl.py
Owners: @mmacklin

CODEOWNERS:

# CODEOWNERS file for Newton Physics
# This file defines code ownership for different parts of the repository.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes precedence.

# Solvers module assignments
newton/_src/solvers/vbd/ @AnkaChan
newton/_src/solvers/mujoco/ @adenzler-nvidia
newton/_src/solvers/mpm/ @gdaviet
newton/_src/solvers/implicit_mpm/ @gdaviet
newton/_src/solvers/style3d/ @WenchaoHuang
newton/_src/solvers/xpbd/ @eric-heiden
newton/_src/solvers/featherstone/ @eric-heiden

# User-facing API
newton/__init__.py @mmacklin
newton/sensors.py @mmacklin
newton/solvers.py @mmacklin
newton/sim.py @mmacklin
newton/geometry.py @mmacklin
newton/viewer.py @mmacklin
newton/ik.py @mmacklin
newton/utils.py @mmacklin

# Sim folder
newton/_src/sim/ @eric-heiden
newton/_src/core/ @eric-heiden
newton/_src/utils/ @eric-heiden

# Geometry module
newton/_src/geometry/ @nvtw

# Viewer module
newton/_src/viewer/ @mmacklin

# Contact sensors
newton/_src/sensors/contact_sensor.py @camevor

# Importers (URDF, MJCF, USD)
newton/_src/utils/import_urdf.py @eric-heiden
newton/_src/utils/import_mjcf.py @eric-heiden
newton/_src/utils/import_usd.py @eric-heiden

# MPM related examples
newton/examples/mpm/ @gdaviet

# Style3D related examples and components
newton/examples/cloth/example_cloth_style3d.py @WenchaoHuang
newton/_src/sim/style3d/ @WenchaoHuang

# Selection API
newton/_src/selection/ @nvlukasz

# IK module
newton/_src/ik/ @dylanturpin

# Benchmarks
asv/benchmarks/ @shi-eric @Kenny-Vilella
